.product {
  width: 20%;
  min-width: 225px;
  height: 400px;
}

:host {
  width: 20%;
  min-width: 225px;
}

.product-image {
  width: 225px;
  height: 125px;
  object-fit: contain;
}

.product-description {
  flex: 1;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
