<mat-card class="product-skeleton">
  <mat-card-header>
    <mat-card-title><div class="product-skeleton__title"></div></mat-card-title>
  </mat-card-header>
  <img
    class="product-skeleton__image"
    mat-card-image
    src="assets/images/no-image.svg"
  />
  <mat-card-content class="product-skeleton__description">
    <div class="product-skeleton__description-text--long"></div>
    <div class="product-skeleton__description-text--long"></div>
    <div class="product-skeleton__description-text"></div>
  </mat-card-content>
  <mat-card-actions>
    <div class="product-skeleton__button"></div>
    <div class="product-skeleton__button"></div>
  </mat-card-actions>
</mat-card>
